.aboutSection{
    margin-bottom: 1%;
}
.navbar-default{
    background-color: #3071a9;
    border-color: #3071a9;
}
.navSection, .navbar-toggle{
    color: white !important;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.customContainer {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
}
.customContainer .text-muted {
    margin: 20px 0;
}
